.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    height: 110px;
    align-items: center;
}
.wrapper-right{
    display: flex;
    gap: 36px;
}
.wrapper-left{
    display: flex;
    gap: 10px;
}
.logo{
    width: 43px;
    height: 43px;
    background-image: url(/images/sofa.png);
    background-position: 0;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.title{
    font-size: 28px;
    font-family: "Poppins";
    font-weight: 600px;
}
.link{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 22px;
}